*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
/* nav-bar-log */
.nav-bar-logo img{
    height:70px;
    width:70px;
}
/* nav-bar-section */
.nav-bar-section{
    display:flex;
    justify-content: space-between;
    padding:15px;
    background-color: #42536d;
}
.nav-bar-section a{
    text-decoration: none;
}
label .fa-bars,input,label .fa-xmark{
    display:none;
    color:white;
}

/* list */
.list{
    display: flex;
    gap:60px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.list li{
    list-style: none;
    color:white;
    cursor: pointer;
    padding:2px;
    border-radius: 5px;
    transition: all 1s;
    
}
.list a{
    padding:10px 5px;
    border-radius:6px;
    text-decoration: none;

}

.list li:hover{
   background-color: white;
   color:#42536d;
}/* brands section1 */
.brands-section-1{
   padding:15px;
   padding-bottom:5%;
}
.brands-section-1 h1{
    font-size: 40px;
    padding-bottom:30px;
    color: #001c49;
}
.brands-section-1 >:nth-child(2){
    display: flex;
    justify-content: space-around;
    border:1px solid cyan;
}
.brands-section-1 >:nth-child(2) div:nth-child(-n+3){
    overflow: hidden;
    width:28%;
    
}
.brands-section-1 >:nth-child(2) img {
    height:400px;
    width:100%;
    border-radius: 10px;;
    border-bottom-right-radius: 18%;
    transition: all 1s;
}
.brands-section-1 >:nth-child(2) img:hover{
    transform: scale(1.1);
}
.brands-img-box h1{
    font-size: 40px;
    padding-bottom:10px;
    color: #001c49;
    padding-top:10px;
}
.brands-img-box p{
    font-size: 23px;
    padding-bottom:10px;
}
.brands-img-box h3{
    font-size: 20px;
    color: #001c49;
    padding-bottom:10px;

}
.brands-img-box i{
    color:rgb(123, 180, 233);
    font-size: 20px;
}
.brands-img-box span{
    height:27px;
    width:27px;
    border-radius:50%;
    border:2px solid cyan;
    padding:5px;
}
/* brands -section-2 */

.brands-section-2{
    display:flex;
    justify-content: space-around;
    padding-bottom:20px;
    gap:10px
}
.brands-section-2 div{
    width:25%;
    overflow: hidden;
    
}
.brands-section-2 img{
    height:100%;
    width:100%;
    height:300px;
    border-radius:10px;
    border-bottom-right-radius:15%;
    transition: all 1s;
}
.brands-section-2 img:hover{
    transform:scale(1.1);
}

.brands-section-2 h1{
    font-size: 40px;
    padding-bottom:10px;
    padding-top: 20px;
    color: #001c49;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.brands-section-2 p{
    font-size:25px;
    padding-bottom:10px;
    color: #001c49;

}
.brands-section-2 span{
    height:27px;
    width:27px;
    border-radius:50%;
    border:2px solid cyan;
    padding:5px;
}
/* brands-section-3 */
.brands-section-3{
    display: flex;
    justify-content: space-around;
    padding-bottom:30px;
}
.view-icon{
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}
.brands-section-3 span{
    height:25px;
    width:25px;
    font-size: 18px;
    border-radius:50%;
    border:2px solid cyan;
    padding:5px;
}
.brands-section-3 h1{
    font-size: 40px;
    color: #42536d;

}
.brands-section-3 div {
    width:30%;
    padding-bottom: 10px;
}
.column div{
    width:100%;

}
.brands-section-3 h2{
    color:rgb(233, 72, 91);
    font-size: 40px;
}
.brands-section-3 .column div {
    border-bottom:1px solid black;
    padding:10px;
}
.brands-section-3 img{
    height:400px;
    width:100%;
}
.brands-section-3 p{
    font-size: 25px;
    padding-top:10px;
    line-height: 30px;
}
/* footer */
footer{
    display:flex;
    list-style: none;
    background-color: #7d899b;
   padding-top:3%;
    justify-content: space-around;
    align-items: center;
}
.footer-img-50 {
    width:20%;
    height:200px;
}
.footer-img-50 img{
    width:100%;
    height:100%;
}
footer li{
    padding-bottom:10px;
    font-size: 20px;

}
footer h2{
    padding-bottom:10px;
    font-size: 25px;

}
footer p{
    padding-bottom:10px;
    font-size: 20px;
}
/* footer icon */
footer div:nth-child(2) div{
    display: flex;
    width:50%;
    justify-content: space-around;
    align-items: center;
    padding-top:30%;
}
footer div:nth-child(2) div li:nth-child(1){
    color:blue;
    font-size:36px;

}
footer div:nth-child(2) div li:nth-child(2){
    color: #ee2a7b ;
      font-size:36px;
}
footer div:nth-child(2) div li:nth-child(3){
    font-size:36px;

}
footer div:nth-child(2){
    padding-top:7px;
}
/* media queery */
@media screen and (min-width:320px) and (max-width:800px){
    /* nav- bar */
    .list{
        position:fixed;
        height:50vh;
        color:white;
        left:-100%;
        transition: all 1s;
        top:15.5%;  
        flex-direction: column;
        gap:15px;
        justify-content: center;
         background-color: #42536d;
        width:100%;
    }
    label .fa-bars{
        display:inline-block;
        position:absolute;
        top:5%;
        right:5%; 
        display:flex;
        justify-content: center;
        transition: all 1s;
        font-size: 30px;


    }
    label .fa-xmark{
         top:5%;
        right:5%; 
        position:absolute;
        font-size:40px;
    }
    input:checked ~ label .fa-xmark{
        display:inline-block;
        transition: all 1s;
        font-size: 25px;
    }
    input:checked ~ label .fa-bars{
        display: none;
        transition: all 1s;
    }
input:checked ~.list{
    left:0%;
}

/* .brands-section-1 */
.brands-section-1 h1{
      width:100%;
}
.brands-section-1 >:nth-child(2) div:nth-child(-n+3){
     width: 100%;
  }
  .brands-section-1 >:nth-child(2){
    flex-direction: column;
  }
/* .brands-section-2 */
.brands-section-2{
    flex-direction: column;
}
.brands-section-2 div{
    width:100%;
}
/* .brands-section-3 */
.brands-section-3{
    flex-direction: column;
}
.brands-section-3 div{
    width:100%;
}
/* footer */
footer{
    flex-direction: column;
    justify-content: center;
}
footer div:nth-child(2) div{
    display: flex;
    width:90%;
    justify-content: space-evenly;
    padding-bottom:10px;
    padding-top:10px;
}
footer>:nth-child(2){
    text-align: center;
    width:100%;
}

}